body{
  background: linear-gradient(to bottom right, #283c86, #366d68, #45a247);
  font-family: 'Poppins', sans-serif;
  color: #fff;
  height: 100%;
  min-height: 100vh;
}
h1{
    text-align: center;
    font-weight: 900;    
}
.ceo ul{
    width: fit-content;
    transform: translate(105%, -110%);
}
.ceo{
    height: fit-content;
    width: fit-content;
    display: inline-block;
}
.me-myself{
    transform: translate(10%, 10%);
    border-radius: 50%;
}
::selection{
  background-color: #21e788;
  color: #000;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 100;
}
.topnav{
    display: flex;
    justify-content: center; /* Centers the item horizontally */
    align-items: center; /* Centers the item vertically */
    float: right;
}
.itemnav1{
    border-radius: 15px;
    padding: 5px;
    background-color: #426B1F;
    font-size: 20px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}
a{
    color: #ffffff;
    text-decoration: none;
}
.tophead{
    border-radius: 12px;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    color: #000000;
    font-family: 'Audiowide';
    top: 0;
    background: linear-gradient(to bottom, #12c2e9, #c471ed, #f64f59);
}

