body{
    background: linear-gradient(to bottom right, #283c86, #366d68, #45a247);
    font-family: 'Poppins', sans-serif;
    color: #fff;
    height: 100%;
    min-height: 100vh;
}
::selection{
    background-color: #21e788;
    color: #000;
}
h1{
    text-align: left;
    padding-left: 250px;
    transform: translate(0%, -300%);
}
a{
    color: #ffffff;
    text-decoration: none;
}
 .imgprof{
    border-radius: 50%;
   background: linear-gradient(to top right, #FF0000ff, #ff0AfAff, #0000ffff);
   padding: 8px;
   transform: translate(15%, 20%);
}

.databox{
    margin-right: 160px;
    background-color: #ffffff;
     padding: 10px; 
    color: #000000;
     width: 60%;
   /* height: fit-content; */
    /* border-radius: 15px; */
    font-size: 20px;
    /* display: inline-block; */
    /* text-align: left; */
}
.username-container {
    text-align: center; /* Center-align content */
    margin-top: 20px;  /* Add spacing from the top */

}

.username-container h1 {
    margin-bottom: 10px; /* Space between username and editable text */
}



.descript{
    transform: translate(80%, -250%);
     background-color: #ccc;
    width: 300px;
   padding: 5px;
    border-radius: 12px;
}

.sidebar {
    border-radius: 6px;
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #444;
    overflow-x: hidden;
    padding-top: 16px;
  }
  
  .sidebar a {
    left: 50;
    padding: 6px 6px 6px 120px;
    text-decoration: none;
    font-size: 20px;
    background-color: #426B1F;
    color: #fff;
    display: block;
    transition: all 0.3s;
  }
  
  .sidebar a:hover {
    color: #426B1F;
    background-color: #fff;
  }

